.card {
  position: relative;
  background-color: #1d1c1c;
  border-radius: 0.5rem;
}

.card img {
  width: 100%;
  height: auto;
}

.section {
  position: absolute;
  z-index: 100;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
}

.btn {
  composes: button from '../Button/button.module.css';
  position: absolute;
  width: unset;
  bottom: 0;
  right: 0;
  border: none;
  font-size: 2rem;
  z-index: 100;
}
