.search {
  display: flex;
  width: 90vw;
  margin: 1rem auto;
  justify-content: center;
  align-items: center;
}

.form {
  position: relative;
  width: 30%;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  padding: 1rem;
}

.input {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  border-radius: 0.5rem;
  letter-spacing: 0.1rem;
  font: inherit;
  color: black;
}
