.form {
  margin: 30px 0;
}

.input {
  background: none;
  background-color: white;
  color: rgb(0, 0, 0);
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid gray;
  margin: 25px 0;
}

input[type='password'] {
  letter-spacing: 0.3em;
}
